//Start Footer
footer.footer 
  .container 
    h4 Explore More
    .row 
      .col-lg-3
        h5 Quick links
        ul.list-unstyled 
          li 
            a(href="") Home
          li 
            a(href="") about us
          li 
            a(href="") careers
          li 
            a(href="") events
          li 
            a(href="") NEWS
          li 
            a(href="") contact
          li 
            a(href="") Careers
      .col-lg-3
        h5 OUR HOSPITALS
        ul.list-unstyled 
          li 
            a(href="") Al Shalalat
          li 
            a(href="") semouha
          li 
            a(href="") antoniades
          li 
            a(href="") maadi
          li 
            a(href="") hai el jamaa
          li 
      .col-lg-6
        h5 OUR HOSPITALS
        .input-group.mb-3
          input.form-control(type='email', placeholder="Email Address", aria-label="Recipient's username", aria-describedby='basic-addon2')
          .input-group-append
            span#basic-addon2.input-group-text subscribe now
        .copy-right 
          p Copyright © 2018 - ANDALUSIA GROUP
          .social-media
            a(href="") 
              i.fab.fa-facebook-f.fa-fw
            a(href="") 
              i.fab.fa-twitter.fa-fw
            a(href="") 
              i.fab.fa-google-plus-g.fa-fw
//End Footer