//Start ALl Script
// jQuery ,  Bundle and Bootstrap
script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js") 
//script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js") 
script(src="assets/js/popper.min.js") 
script(src="assets/js/bootstrap.min.js") 

//Counter Up
script(src="assets/js/jquery.waypoints.min.js") 
script(src="assets/js/counterup.js")

// Animations Aos
script(src="assets/js/wow.min.js") 
//Slider Owl Carousel
script(src="assets/js/owl.carousel.min.js") 

//My Script
script(src="assets/js/scriptsJquery.js") 